*~
_*
*.o
*.d
*.asm
*.sym
*.img
vectors.S
bootblock
entryother
initcode
initcode.out
kernelmemfs
mkfs
kernel/kernel
user/usys.S
.gdbinit
fs.img
.idea
user
.dir-locals.el
.editorconfig
.gdbinit.tmpl-riscv
.gitignore
LICENSE
Makefile
README
